* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

body {
    background:url('../../../../img/home.png') center/cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
}

.container{
    background-color: rgba(50, 50, 50, 0.438);
    color: rgb(158, 231, 0);
    display: block;
    grid-template-columns: repeat(4, 1fr);
    width: 450px;
    max-width: 100%;
    padding: 30px;
    border-radius: 30px;
    gap: 15px;
}
